@import '@src/mixins'
@import '@src/vars'

.fwd-company-list
  li:not(:first-child)
    border-top 1px solid $color-grey-darker
  details
    .fwd-company-list-item-detail-summary
      position relative
      &:after
        content ''
        position absolute
        top 50%
        right 16px
        width 8px
        height 8px
        border-color $color-grey-dark
        border-style solid
        border-width 0 0 1px 1px
        transform translateY(-50%) rotate(-45deg)
        transition transform 500ms, border-color 2s
        transition-timing-function ease
    &[open]
      .fwd-company-list-item-detail-summary
        &:after
          border-color $color-grey
          transform translateY(-50%) rotate(135deg)

.fwd-company-list-item-detail-summary
  list-style none
  &::marker,
  &::-webkit-details-marker
    display none
  h3
    padding 20px 45px 20px 5px

.fwd-company-list-item-detail-content
  padding 5px 5px 20px
  footer
    margin-top 10px
    a + a
      margin-left 10px

+breakpoint('md')
  .fwd-company-list-item-detail-summary
    cursor pointer
    transition background-color 300ms ease-out
    &:hover
      background-color alpha($color-grey-darker, .25)
