@import '@src/vars'

.fdw-blockquote-wrapper
  padding-left 30px
  border-left 3px solid $color-grey-darker
  .fdw-blockquote-caption
    margin-top 15px
    font-family $font-family-secondary
    opacity .6
