@import '@src/vars'

.fdw-home-view
  h2
    margin-top 60px
    color $color-grey-dark
    font-size $font-size-xs
    font-weight 600
    text-transform uppercase
  .fwd-company-list-wrapper
    margin-top 20px
